* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #22272E;
}

.title {
  color: #5f6f80;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  font-family: 'Rampart One', cursive;
}

.logo {
  height: 12rem;
  margin: 0.5rem 0 2rem;
}

.logo-game {
  height: 10rem;
  margin: 0.5rem 0 2rem;
}

.description {
  color: aliceblue;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.button-start {
  background-color: #506ee5;
  color: #fff;
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-start:hover {
  background-color: #647cdd;
}

.button-sort {
  background-color: #506ee5;
  color: #fff;
  padding: 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 30%;
  margin-top: 3rem;
}

.button-sort:hover {
  background-color: #647cdd;
}

.card {
  background-color: #314c53;
  width: 75%;
  height: 200px;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.card-sort {
  width: 95%;
  gap: 1rem;
}

.card-sort h2 {
  color: #fff;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 0.5rem;
  font-size: 40px;
}

.card-sort p {
  font-size: 4rem;
  margin-top: 1rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.card-time p {
  font-family: Impact;
  font-size: 2.3rem;
  color: #e74b72;
  margin-top: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  gap: 1rem;
}

footer .footer-description {
  color: #ccc;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  padding: 0.3rem 0.7rem;
}

footer .footer-author {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Dancing Script', cursive;
  background-color: #5f6f80;
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
}

.rules-description {
  width: 25%;
  margin: 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.rules-description ul {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}

.rules-description h3 {
  font-family: 'Roboto', sans-serif;
  color: #f0f0f0;
  text-align: left;
}

.rules-description li {
  font-family: 'Roboto', sans-serif;
  color: #b4b4b4;
  margin-top: 0.1rem;
  text-align: justify;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

header img {
  width: 3rem;
  margin: 1rem 1rem;
  position: fixed;
  right: 0;
  filter: grayscale(1) brightness(0) invert(1)
}